@model AppUserListDto

<div class="main-menu-header">
    <img class="img-80 img-radius" src="~/images/@Model.Picture" alt="User-Profile-Image">
    <div class="user-details">
        <span id="more-details">@Model.Name @Model.SurName</span>
    </div>
</div>