
@{
    ViewData["Title"] = "Hakkımda";
}
@model AppUserListDto
<div class="row">
    <div class="col-lg-5">
        <div class="span5 about-carousel">
            <div id="myCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item">
                        <img src="~/images/@Model.Picture" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 about">
        <h3>Hakkımda</h3>
        <p>
            @Model.Autobiography
        </p>
    </div>
</div>
<div class="row">
    <div class="container">
        <br/><br/><br/>
        <div class="col-lg-12 col-sm-12" style="border-bottom: 2px solid lightgray">
        </div>
    </div>
</div>
